body,html{
    background-color: #E0E0E0;
	max-width: 1200px;
	margin: auto;
	font-family:"Gill Sans", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

h1 {    font-size: 40px; margin: 1px}
/*Header styling*/

#header-section{
  overflow: hidden;
  width:100%;
  height: 85px;
  position:relative;
  top: 0;
  z-index:99;
  background-color: #2f80ed;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0em 0em 2em 5px rgba(72,110,186,0.25) ;

}
#header-section .header a {
  float: left;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 1px;
  position: relative;
  margin-top: 20px;
  font-family:"Gill Sans", Helvetica, Arial, "sans-serif";
	display: block;
}

#header-section	.header a:hover {color: #F2C94C; font-style: oblique}
#header-section	.header a.logo {margin-bottom: -20px;position: relative;top: -30px}
#header-section	.header a.active {color: #fff}
#header-section .header a.icon{display:none;}

/*Setting up the spacing*/
#header-section .header-right {float: right;padding-right: 1%;}
#header-section .header-logo {position:absolute;left: 50%;margin-left: -40px;}


#sag{
    margin-top: 5px;
    padding: 1px;
    min-height: 50px;
    text-align: center;
    background-color: #2f80ed;
}
#yellow{
    color:#f2c94c;
}
#black{
    color:#000;
}
#blueish{
    color:#56ccf2;
}
#title{
    min-height: 20px;
    width: 80%;
    padding: 20px;
    margin: 10px;
}
#gripe{
    min-height: 150px;
    width:80%;
    padding: 40px;
    margin: 20px;
}
#btn{
    background-color: #f2c94c;
    min-width: 30px;
    min-height: 30px;
}
#btn2{
    background-color: #f2994a;
	width: 200px; 
	font-size: 20px; 
	position:absolute;
	left: 50%;
	margin-left: -220px;
	padding: 5px;
	border-radius: 10px;
	
}
#btn3{
    background-color: #219653;
	width: 200px; 
	font-size: 20px; 
	position:absolute;
	padding: 5px;
    left: 50%;
	margin-left: 20px;
    color:#fff;
    border-radius: 10px;
}
a{
    float: right;
    margin: 5px;
    color: #f2c94c;
}
form{
    position: relative;
    left: 2%;
}

/*
CSS CREDIT
https://www.reddit.com/r/css/comments/1iyag1/upvote_and_downvote_in_pure_css/
*/
input[type=button]{
    width: 100; height: 25;
    border-color: orangered;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid orangered;

}input[type=button]:after{
    width: 5px;
    height: 6px;
    background-color: orangered;
    content: '';
    position:absolute;
    margin-top: 8px;
    margin-left: -3px;
}


@media screen and (max-width : 1100px ){#header-section .header-left {float: left;padding-left: 1%;} #header-section .header-right {float: right;padding-right: 0%;}}


@media screen and (max-width : 1000px ){ #header-section .header-logo {position:absolute;left: 1%;margin-left: 0px;} }

a:hover, a:active {
  background-color: orange;
}

#response{
    background-color: #f2c94c;
    text-align: center;  
    height: 100%;
    margin: 0;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-stretch: expanded;
    letter-spacing: .75px;
}
